#0b) Limpieza y normalización de datos

In [ ]:

library(janitor)
library(tidyverse)

# Limpiamos columnas para evitar problemas a futuro
datos_total <- datos_total %>% clean_names()
datos_genero <- datos_genero %>% clean_names()

# Aseguramos que los campos de union sean del tipo correcto:

datos_total <- datos_total %>%
  mutate(across(c(anio, clae6, clae2, in_departamentos), as.integer))

datos_genero <- datos_genero %>%
  mutate(across(c(anio, clae6, clae2, in_departamentos), as.integer))

In [ ]:
# Evitaremos el nombre de columnas que comiencen con mayusculas:

datos_total <- datos_total %>%
  rename(empleo = Empleo, establecimientos = Establecimientos)

In [ ]:
#Evaluamos si existe presencia de valores nulos. El siguiente codigo muestran los faltantes por columna:

map(datos_total, ~ sum(is.na(.x)))
map(datos_genero, ~ sum(is.na(.x)))
map(establecimientos, ~ sum(is.na(.x)))
map(actividades, ~ sum(is.na(.x)))
map(ubicacion, ~ sum(is.na(.x)))

#No existen valores nulos en nuestra base de datos.-

In [ ]:
#chequeamos que no haya ningun problema de codificación en las columnas que tienen palabras

unique(actividades$letra_desc)
unique(actividades$letra_desc)
unique(actividades$letra_desc)
unique(ubicacion$departamento)

In [ ]:
library(dplyr)

# Creamos el diccionario de provincias a regiones
regiones <- tibble(
  provincia = c("Salta", "Jujuy", "Tucumán", "Santiago del Estero", "Catamarca", "La Rioja",
                "Chaco", "Corrientes", "Formosa", "Misiones",
                "Mendoza", "San Juan", "San Luis",
                "Buenos Aires", "CABA", "Córdoba", "Santa Fe", "Entre Ríos", "La Pampa",
                "Neuquén", "Río Negro", "Chubut", "Santa Cruz", "Tierra del Fuego"),
  region = c(rep("NOA", 6),
             rep("NEA", 4),
             rep("Cuyo", 3),
             rep("Pampeana", 6),
             rep("Patagonia", 5))
)

# Unimos la ubicación
ubicacion <- ubicacion %>%
  left_join(regiones, by = "provincia")

# Unimos la región a datos_total
datos_total <- datos_total %>%
  left_join(select(ubicacion, in_departamentos, region), by = "in_departamentos")

In [ ]:
# Agregamos provincia a establecimientos para facilitar el analisis a futuro
establecimientos <- establecimientos %>%
  left_join(ubicacion %>% select(provincia_id, provincia) %>% distinct(), by = "provincia_id")